<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="{{ '/assets/img/sd-32.png' | url }}" sizes="32x32">
  <link rel="apple-touch-icon" type="image/png" href="{{ '/assets/img/sd-180.png' | url }}" sizes="180x180">
  <link rel="icon" type="image/png" href="{{ '/assets/img/sd-192.png' | url }}" sizes="192x192">
  <link rel=canonical href="{{ site.url }}{{ page.url | url }}">
  {%- capture pageTitle -%}
    {% if title %}{{ title }} • {% endif %}{{ site.title }}
  {%- endcapture %}
  {%- if meta.description -%}
    {%- assign desc = meta.description -%}
  {%- else -%}
    {%- assign desc = layoutContent | regexReplace: '<h1 class="title flex-item">.*</h1>', '' | strip_html | regexReplace: '\s{2,}', ' ' | lstrip | truncate: 160 -%}
  {%- endif %}
  <meta name="description" content="{{ desc }}">
  <meta property="og:url" content="{{ site.url }}{{ page.url | url }}">
  <meta property="og:title" content="{{ pageTitle }}">
  <meta property="og:description" content="{{ desc }}">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:creator" content="@{{ site.author.twitter }}">
  <title>{{ pageTitle }}</title>
  <link rel="alternate" type="application/atom+xml" href="{{ site.feedUrl | url }}" title="{{ site.title }} Atom feed">
  <link rel="webmention" href="https://webmention.io/stedman.dev/webmention">
  <link rel="pingback" href="https://webmention.io/stedman.dev/xmlrpc">
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | url }}">
  <link rel="stylesheet" href="{{ '/assets/css/prism-atom-dark.css' | url }}">
  <script type="module" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule="" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.js"></script>
</head>
<body>
  <header class="page-header hero">
    <div class="hero-body is-paddingless">
      <div class="container">
        <div class="navbar" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
            <a class="navbar-item title is-size-4-tablet" href="{{ '/' | url }}">
              <i class="icon site-logo">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 442 500" width="24" height="27">
                  <g fill="currentColor">
                  <path transform="rotate(180 233.39 309.77)" d="m25 2.4e2c0 1.1e2 1.9e2 2.6e2 2.5e2 2.6e2 9 0 11-5.5 11-12 0-29-1.8e2 -1.4e2 -1.8e2 -2.5e2 0-36 38-55 97-55 59 0 1.4e2 20 1.6e2 41s-2.7 66 10 74c4.7 2.6 13 5.2 20 5.2 17 0 46-71 46-1e2 0-50-1.8e2 -81-2.5e2 -81-72 0-1.7e2 16-1.7e2 1.2e2z"/>
                  <path d="m0 1.2e2c0 1.1e2 1.9e2 2.6e2 2.5e2 2.6e2 9 0 11-5.5 11-12 0-29-1.8e2 -1.4e2 -1.8e2 -2.5e2 0-36 38-55 97-55 59 0 1.4e2 20 1.6e2 41 11 21-2.7 66 10 74 4.7 2.6 13 5.2 20 5.2 17 0 46-71 46-1e2 0-50-1.8e2 -81-2.5e2 -81-72 0-1.7e2 16-1.7e2 1.2e2z"/>
                  </g>
                  </svg>
              </i>
              {{ site.title }}
            </a>
          </div>

          <div class="navbar-menu is-size-5">
            <div class="navbar-end">
              <a class="navbar-item" href="{{ '/' | url }}">
                Home
              </a>
              <a class="navbar-item" href="{{ '/about/' | url }}">
                About
              </a>
              <a class="navbar-item" href="{{ '/atom.xml' | url }}">
                <span class="is-sr-only">Atom feed</span>
                <span class="icon" title="Atom feed">
                  <ion-icon class="is-size-5" src="{{ '/assets/icon/logo-rss.svg' | url }}"></ion-icon>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <main class="page-main section has-background-white">
    <div class="container">
      <div class="columns">
        <div class="column is-10 is-offset-1 content is-size-5">
          {{ content | safe }}
        </div>
      </div>
    </div>
  </main>

  <footer class="page-footer footer has-offset-top">
    <div class="container">
      <div class="navbar">
        <div class="navbar-menu is-active">
          <div class="navbar-start">
            <span class="navbar-item is-inline-block-tablet">
              &copy; {{ app.now | date: '%Y' }}
              <a class="h-card" rel="me" href="{{ site.url | url }}/">
                {{ site.author.name }}
              </a>
            </span>
            <a class="navbar-item is-sr-only-desktop is-inline-block-tablet" href="{{ '/about/' | url }}">
              About
            </a>
          </div>
          <div class="navbar-end">
            <a class="navbar-item is-inline-block-tablet" href="https://linkedin.com/in/{{ site.author.linkedin }}" rel="me">
              <span class="icon tooltip" title="&ldquo;{{ site.author.linkedin }}&rdquo; on LinkedIn">
                <ion-icon class="is-size-3" src="{{ '/assets/icon/logo-linkedin.svg' | url }}"></ion-icon>
              </span>
              <span class="is-sr-only-desktop">LinkedIn: {{ site.author.linkedin }}</span>
            </a>
            <a class="navbar-item is-inline-block-tablet" href="https://twitter.com/{{ site.author.twitter }}" rel="me">
              <span class="icon tooltip" title="&ldquo;@{{ site.author.twitter }}&rdquo; on Twitter">
                <ion-icon class="is-size-3" src="{{ '/assets/icon/logo-twitter.svg' | url }}"></ion-icon>
              </span>
              <span class="is-sr-only-desktop">Twitter: @{{ site.author.twitter }}</span>
            </a>
            <a class="navbar-item is-inline-block-tablet" href="https://github.com/{{ site.author.github }}" rel="me authn">
              <span class="icon tooltip" title="&ldquo;{{ site.author.github }}&rdquo; on GitHub">
                <ion-icon class="is-size-3" src="{{ '/assets/icon/logo-github.svg' | url }}"></ion-icon>
              </span>
              <span class="is-sr-only-desktop">GitHub: {{ site.author.github }}</span>
            </a>
            <a class="navbar-item is-sr-only-desktop" href="https://github.com/stedman/stedman.dev/blob/master/{{ page.inputPath }}">Edit this page on GitHub</a>
          </div>
        </div>
      </div>
      <p class="has-text-centered is-size-7 is-italic">
        Powered by <a href="https://11ty.dev/">Eleventy</a>. See <a href="/about/#colophon">Colophon</a> for more details.
      </p>
    </div>
  </footer>
  {%- if app.environment != 'dev' -%}
  <!-- Web-Stat code v7.0 -->
  <span id="wts1975337"></span><script>var wts7 = {invisible:'yes'};var wts=document.createElement('script');wts.async=true;wts.src='https://wts.one/log7.js';document.head.appendChild(wts);wts.onload = function(){wtslog7(1975337,1);};</script><noscript><a href="https://www.web-stat.com"><img src="https://wts.one/7/1/1975337.png" alt="Web-Stat site statistics"></a></noscript>
  {%- endif -%}
</body>
</html>
